{% extends 'base.html' %}

{% block montitre %}
debut de mes mots: bienvenue dans lapplication 2 PROFILES
{% endblock %}
{% block content %}
<h1># arts-adventure</h1>
{% for x in users | reverse %}
 <li>{{ x["first_name"]  }}</li>

{% endfor %} 
fin de mes mots : Un profil discret ou un profile pas discret , inscris toi, choisis ton type de profil préféré, choisis quel est le mieux
{% endblock %}
{% block liens %}
<a href="/">welcome</a>
<a href="/login">login</a>
<a href="/register">register</a>
<a href="/add_one_user"> add one user</a><a href="/add_one_profile_image"> add one profile_image</a><a href="/add_one_people_photos"> add one people_photos</a><a href="/add_one_user_video"> add one user_video</a><a href="/add_one_radio_voice"> add one radio_voice</a><a href="/add_one_subscriber"> add one subscriber</a><a href="/add_one_comment_photo"> add one comment_photo</a><a href="/add_one_posts"> add one posts</a><a href="/add_one_country"> add one country</a>
{% endblock %}

